# Исключения для сборки Docker-образа
.git
.venv
__pycache__
*.pyc
.env
.env.*
google_credentials.json
*credentials.json
.gitignore
.gitattributes
.gitflic-ci.yaml
docker-compose.yml
docs
План-проекта.md
README.md